.a {
    color: #333;
    text-decoration: none;
    transition: all .2s;
}
a:hover {
    color: blueviolet;
    font-size: 1.3rem;
    font-family: 'lobster';
}
a:active {
    color: red;

}
a:visited {
    color: gold;
}
.btn {
    background: turquoise;
    border-radius: 5px;
    border-color: purple;
    cursor: pointer;

}
.btn:hover {
    font-family: 'lobster';
    background: #333;
    color: aliceblue;
    font-size: 1.3rem;
    opacity: 0.6;
}
